html, body, #graph {
  height: 100%
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

#licensing {
  fill: green;
}

.link.allied {
  stroke: green;
}

.link.enemy {
  stroke: red;
}

.link.killed {
  stroke: red;
}

.link.love {
  stroke: lightblue;
}

.link.sibling {
  stroke: lightblue;
}
.link.parent {
  stroke: lightblue;
}.link.married {
  stroke: lightblue;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
