html, body, #container {
  height: 100%
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.link.allied { stroke: green; }
.link.enemy { stroke: red; }
.link.love { stroke: gold; }
.link.sibling { stroke: gold; }
.link.parent { stroke: gold; }
.link.married { stroke: gold; }
.link.killed {
  stroke: black;
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.Stark { fill: #A4C0F7; } 
.Targaryen { fill: #A81800; } 
.Baratheon { fill: #FFE791; } 
.Lannister { fill: #E26462; } 
.Tyrell { fill: #90C677; } 
.Martell { fill: #E79220; } 
.Greyjoy { fill: #245008; } 
.Lesser { fill: #C479A1; } 
.Watch { fill: #333333; } 
.Folk { fill: #D0E0E3; } 
.Others { fill: #EBD0DC

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
