* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html, body, main, aside, #container {
  height: 100%;
}

main {
  position: relative;
}

aside {
  width: 340px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255,255,255,.8);
  padding: 1em;
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#info {
  margin: 1em 0 2em;
}

#info img {
  width: 120px;
  margin-right: .7em;
  vertical-align: bottom;
}

#info h2 {
  margin: 0 0 .5em;
}

#info p {
  display: inline-block;
  margin: 0 0 .5em;
}

#list {
  margin: 1em 0 2em;
}

#legend {
  position: absolute;
  bottom: 1em;
  left: 0;
}

#legend ul {
  margin: 1em 0 2em;
  padding: 0;
  display: block;
  list-style-type: none;
}

#legend li {
  width: 110px;
  display: inline-block;
}

text {
  font-size: 0.8em;
  pointer-events: none;
}

text.shadow {
  stroke: white;
  stroke-width: 2.5px;
  opacity: 0.9;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  cursor: pointer;
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

span.allied, .link.allied { stroke: green; color: green; }
span.enemy, .link.enemy { stroke: red; color: red; }
span.love, .link.love { stroke: gold; color: gold; }
span.sibling, .link.sibling { stroke: gold; color: gold; }
span.parent, .link.parent { stroke: gold; color: gold; }
span.child, .link.child { stroke: gold; color: gold; }
span.married, .link.married { stroke: gold; color: gold; }
span.killed, .link.killed { stroke: black; color: black; }

.Stark { fill: #A4C0F7; color: #A4C0F7; } 
.Targaryen { fill: #A81800; color: #A81800; } 
.Baratheon { fill: #FFE791; color: #FFE791; } 
.Lannister { fill: #E26462; color: #E26462; } 
.Tyrell { fill: #90C677; color: #90C677; } 
.Martell { fill: #E79220; color: #E79220; } 
.Greyjoy { fill: #245008; color: #245008; } 
.Lesser { fill: #C479A1; color: #C479A1; } 
.Watch { fill: #333333; color: #333333; } 
.Folk { fill: #D0E0E3; color: #D0E0E3; } 
.Others { fill: #EBD0DC; color: #EBD0DC; }


.slider-wrapper {
  margin: 0 auto 2em;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 320px;
}

.range-value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #333;
  padding: 5px 10px;
  margin-left: 7px;
}

.range-value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #333;
  border-bottom: 7px solid transparent;
  content: '';
}

.input-range {
  width: 75%;
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}

.scale {
  margin: 0 auto;
  width: 75%;
}

.tick {
  text-align: left;
  display: inline-block;
  width: 20%;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background: #333;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.input-range::-webkit-slider-thumb:hover {
  background: #A81800;
}

.input-range:active::-webkit-slider-thumb {
  background: #A81800;
}

.input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

.input-range::-moz-range-thumb:hover {
  background: #A81800;
}

.input-range:active::-moz-range-thumb {
  background: #A81800;
}

::-moz-range-track {
  background: #ccc;
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}


